@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f7f8fa;
  color: #333;
}

input, button {
  font-family: inherit;
}

h3, p {
  margin: 0;
}
