<div class="login-screen">
  <div class="login-container">

    <div class="input-group">
      <label class="input-label">Login</label>
      <input type="email" [(ngModel)]="email" class="input-field">
    </div>

    <div class="input-group">
      <label class="input-label">Password</label>
      <input type="password" [(ngModel)]="password" class="input-field">
    </div>

    <button (click)="login()" class="login-button">Login</button>
    
    <button (click)="register()" class="register-button">Register</button>

  </div>
</div>
